body{
    color: #000;
    font-size: 16px;
    word-spacing: -0.5px;
    letter-spacing: -1px; 
    height: 1584px;
    font-family: 'Noto Sans KR', sans-serif;
}

 *{
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
    text-size-adjust: none;
    list-style: none;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    outline: 0!important;
}

#wrap{
    overflow: hidden;
    position: relative;
    min-width: 1120px;
    height: 1584px;
    background-color: #fff; 
    margin-top: 23px;
}
a:link{
    text-decoration: none;
}

p{
    color: #333;
    word-break: keep-all;
    line-height: 1.63;
}

.skipToContent{
    position: absolute;
    top: -60px;
    right: 0;
    left: 0;
    z-index: 1000;
    min-width: 320px;
    height: 60px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    letter-spacing: -1.5px;
    line-height: 60px;
    background-color: rgba(25, 145, 205, .8);
    transition: .1s ease-in-out;
}

/* header시작 */

#header {
    left: 0;
    z-index: 105;
    width: 100%;
    height: 129px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    position: fixed;
    top: 0px;
}

#header:before, #header > .b {
    content: '';
    position: absolute;
    top: 59px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #ebebeb;
}

#header h1 {
    display: block;
    position: relative;
    top: 18px;
    width: 239px;
    height: 25px;
    margin: auto;
}

.innerwrap{
    padding: 0 10px;
    position: relative;
    width: 1100px;
    height: 130px;
    margin: auto;
}

#header h1 a{
    display: block;
    position: relative;
    top: -12px;
    right: -10px;
    width: 239px;
    height: 25px;
    margin: auto;
     font-weight: 700;
    color: #2763ba;
}

#header .topLeftWrap {
    position: absolute;
    top: 18px;
    left: 9px;
    z-index: 100;
}


#header .topLeftWrap a {
    display: block;
    position: relative;
    width: 160px;
    height: 25px;
    margin: auto;
}

.topMenuWrap {
    position: absolute;
    top: 18px;
    right: 9px;
    z-index: 100;
}

.topMenuWrap ul, .topMenuWrap li {
    float: left;
    padding: 0;
    margin: 0;
}

.utilMenu {
    margin: 2px 20px 0 0;
}

.utilMenu a, .utilMenu label {
    color: #000;
    font-size: 14px;
}

.topMenuWrap li{
    list-style: none;
}

.topMenu li {
    margin-right: 13px;
}

#gnb{
    position: relative;
    width: 1100px;
    margin: auto;
}

#gnb > button[class*=tot]{
    position: absolute;
    top: 70px;
    border: 0;
    background-color: transparent;
}

.totMenuBtn{
    left: 0;
    width: 30px;
    height: 22px;
    margin-top: -11px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat 0 -27px;
}

.gnbList {
    height: 70px;
    margin: 0 100px;
    text-align: center;
    top: 35px;
    position: absolute;
    left: 97px;
}


.gnbList > li {
    display: inline-block;
    margin: 10px 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.gnbList * {
    text-align: left;
}

.gnbList > li > a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    transition: .2s color;
    font-weight: 700;
}
/* hearder끝 */

/* TopBar 시작*/
.contTopBar{
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: #2763ba;
}

.clearFix:before, .clearFix:after, .clearFix > .b, .clearFix > .a{
    content: ' ';
    display: table;
}

.breadcrumb{
    float: left;
}

.hideEl, .pagination [class*=Btn] span{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(1px,1px,1px,1px);
}

.bcHomeBtn{
    position: relative;
    width: 48px;
    border: 1px solid #5d8acb;
    border-width: 0 1px;
}

.bcHomeBtn, .breadcrumb > div{
    float: left;
    height: 50px;
    line-height: 50px;
}

.bcHomeBtn:before, .bcHomeBtn > .b{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 16px;
    margin: -9px 0 0 -8px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -110px -73px;
}

.breadcrumb > div{
    position: relative;
    min-width: 188px;
    max-width: 250px;
    max-width: 300px;
    border-right: 1px solid #5d8acb;
}

.breadcrumb em{
    display: block;
    padding: 0 51px 0 20px;
    color: #fff;
    font-style: normal;
}

.ellipsisTxt, .breadcrumb em, .bcLinkLayer a, .newsPaperImg em, .ellipsisTit[class*=boardTypeImg] em, .boardTypeTbl td a{
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bcLinkLayerBtn{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.bcLinkLayer{
    display: none;
    position: absolute;
    top: 50px;
    right: -1px;
    left: -1px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.breadcrumb > div:after, .breadcrumb > div > .a{
    content: ' ';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 11px;
    height: 6px;
    margin-top: -3px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -27px;
}

.bcLinkLayer a{
    display: block;
    height: 48px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-top: 0;
    line-height: 48px;
    transition: .3s color;
}

.bcQuickMenu{
    float: right;
    width: 220px;
    margin-right: -18px;
    padding: 0 18px;
    text-align: center;
    background: url("http://www.snuh.org/asset/img/common/bg_bcQuickMenu.png") no-repeat 0 0;
}

.bcQuickMenu li{
    float: left;
    position: relative;
    width: 50%;
}

.bcQuickMenu a{
    display: block;
    height: 50px;
    color: #fff;
    line-height: 50px;
    background-color: transparent;
}

/* TopBar끝 */

b, h1, h2, h3, h4, h5, h6, strong, th{
    font-weight: 700;
}

.contUtilMenuWrap{
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 800px;
    height: 30px;
    margin: 264px auto 0;
    padding: 1px 300px 0 0;
}

.contUtilMenuWrap .contUtilMenu{
    margin-top: 0;
}

.contUtilMenu{
    float: right;
}

.contUtilMenu li{
    float: left;
    position: relative;
    margin-right: 26px;
}

.contUtilMenu a{
    color: #888;
    font-size: 14px;
    text-decoration: none;
}

.likeContent::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: -13px;
    width: 2px;
    height: 9px;
    margin-top: -3px;
    background-color: #ccc;
}

.contUtilMenu .lastChild{
    margin-right: 0;
}

.copyURL::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left: -13px;
    width: 2px;
    height: 9px;
    margin-top: -3px;
    background-color: #ccc;
}

.contUtilMenu .zoomOut{
    margin-left: 20px;
}

li.zoomOut, li.zoomIn{
    margin-right: 0;
    height: 30px;
    top: 4px;
}

li.zoomIn{
    left: -1px;
}

.contUtilMenu button{
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: transparent;
    top: -4px;
}

.contUtilMenu button::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left:  50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -39px;
}

.contUtilMenu .zoomOut button::before{
    width: 10px;
    height: 2px;
    margin: -1px 0 0 -5px;
    background-position: -65px -35px;
}

.hideTxt{
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
}

#content.replaceUtilMenu{
    margin-top: -48px;
    margin-left: 401.500px;
    margin-right: 401.500px;
    padding-top: 0;
    height: 979.562px;
}

#content{
    word-spacing: 0;
    letter-spacing: -.5px;
    min-height: 800px;
    margin: auto;
    padding-right: 300px;
}

.contHeadingWrap{
    overflow: hidden;
    position: relative;
    margin: -12px 0 43px;
}

.contHeadingWrap > :first-child{
    float: left;
    font-size: 40px;
    letter-spacing: -2px;
}

h2, h3{
    font-weight: 700;
}

[class*=tabType]{
    position: relative;
    margin: 50px 0 40px;
}

[class*=tabType] ul{
    position: relative;
    width: 100%;
}

[class*=tabType]:after{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #2263bb;
}

.clearFix:before, .clearFix:after{
    content: ' ';
    display: table;
}

[class*=tabType] li{
    float: left;
    width: 25%;
}

.tabTypeCol5 li{
    width: 20%;
}

[class*=tabType] a{
    display: block;
    height: 48px;
    margin-left: -1px;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    color: #666;
    text-align: center;
    line-height: 48px;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

[class*=tabType] li:first-child a{
    margin-left: 0;
}

[class*=tabType] .current a{
    border-color: #2263bb;
    color: #fff;
    background-color: #2263bb;
}

.clearFix:after{
    clear: both;
}

.boardTotal{
    float: left;
    min-width: 110px;
    margin-top: 7px;
    color: #666;
}

.boardInfo > .boardTotal{
    margin-top: 8px;
}

.boardTotal em{
    color: #2763ba;
    font-style: normal;
}

.boardSearch{
    float: right;
}

audio, button, canvas, iframe, img, input, label, select, svg, video{
    vertical-align: middle;
}

button, input, textarea{
    appearance: none;
}

a img, fieldset, img{
    border: none;
}


caption, legend{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(1px,1px,1px,1px);
}

.boardSearch .feFoSelect{
    margin-right: 10px;
}

.boardSearch .feFoSelect, .boardSearch select, .boardSearch .keyword, .boardSearch .btnSubmit, .boardSearch .btnType01{
    float: left;
}

[class*=feFo]{
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.feFoSelect{
    position: relative;
    width: 58px;
    height: 38px;
    padding: 0 35px 0 12px;
    border: 1px solid #ccc;
    color: #666;
    font-size: 16px;
    text-align: left;
    line-height: 38px;
    background-color: #fff;
}


.feFoSelect:after{
    content: ' ';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 7px;
    height: 4px;
    margin-top: -2px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -70px;
}

.feFoSelect > span{
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.feFoSelect select{
    display: inline-block;
    width: 100%;
    color: #666;
    font-size: 16px;
}

[class*=feFo] > select{
    z-index: 1;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

input[type=tel], input[type=text], input[type=email], input[type=number], input[type=password]{
    height: 38px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    color: #666;
    font-size: 16px;
    line-height: 38px;
}

.mdBrowser input[type=tel], .mdBrowser input[type=text], .mdBrowser input[type=email], .mdBrowser input[type=number], .mdBrowser input[type=password]{
    line-height: inherit;
}

.boardSearch .keyword{
    width: 151px;
    border-right: 0;
}

.boardSearch .btnSubmit{
    width: 70px;
    height: 40px;
    padding: 0 10px;
    color: #fff;
    font-size: 16px;
    letter-spacing: -.8px;
    line-height: 1.5;
    background-color: #2763ba;
    border: none;
}

[class*=boardType]{
    margin-top: 30px;
    border: 1px solid #000;
    border-width: 2px 0 1px;
}

[class*=boardType] table{
    table-layout: fixed;
}

table{
    position: relative;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

caption{
    position: static;
    color: transparent;
}

.boardTypeTbl th, .boardTypeTbl td{
    vertical-align: middle;
    padding: 15px 5px;
    font-weight: 400;
    text-align: center;
    word-break: break-all;
}

.boardTypeTbl thead th{
    padding: 18px 5px;
    border-bottom: 1px solid #000;
    color: #666;
}

.boardTypeTbl td{
    border-top: 1px solid #ccc;
}

.boardTypeTbl th.alignL, .boardTypeTbl td.alignL{
    padding-left: 20px;
}

.alignL{
    text-align: left!important;
}

.boardTypeTbl td a{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    max-width: 92%;
}

.pagination{
    position: relative;
    margin-top: 30px;
    text-align: center;
}
.pagination a{
    display: inline-block;
    vertical-align: middle;
    min-width: 28px;
    min-height: 28px;
    margin-left: 2px;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    white-space: nowrap;
    line-height: 28px;
}

.pagination [class*=Btn]{
    position: relative;
    width: 38px;
    height: 38px;
    margin-left: 0;
    padding: 0;
    left: 0;
}

.hideEl, .pagination [class*=Btn] span{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    border: none;

}

.pagination .firstBtn:after, .pagination .firstBtn > .a, .pagination .lastBtn:after, .pagination .lastBtn > .a {
    width: 12px;
    height: 11px;
    margin: -5.5px 0 0 -6px;
}

.pagination [class*=Btn]:after{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url("http://www.snuh.org/asset/img/common/spr_common.png");
    background-repeat: no-repeat;
    background-position: -221px -27px;
}

.firstBtn{
    left: 7px;
}

.pagination .prevBtn{
    left: 0px;
    margin-right: 16px;
    margin-left: 1px;
}

.pagination .prevBtn:after{
    width: 6px;
    height: 11px;
    margin: -5.5px 0 0 -3px;
    background-position: -221px -40px;
}

.pagination .current{
    border-color: #2763ba;
    color: #fff;
    background-color: #2763ba;
}

.pagination .nextBtn{
    margin-left: 16px;
    right: 3px
}

.pagination .nextBtn:after{
    width: 6px;
    height: 11px;
    margin: -5.5px 0 0 -3px;
    background-position: -221px -53px;
}

.pagination .lastBtn{
    margin-left: 1px;
    right: 6px;
}

.pagination .lastBtn:after{
    width: 12px;
    height: 11px;
    margin: -5.5px 0 0 -6px;
    background-position: -221px -66px;
}
