body{
    color: #000;
    font-size: 16px;
    word-spacing: -0.5px;
    letter-spacing: -1px; 
    height: 1404.72px;
    font-family: 'Noto Sans KR', sans-serif;
}

 *{
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
    text-size-adjust: none;
    list-style: none;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    outline: 0!important;
}

#wrap{
    overflow: hidden;
    position: relative;
    min-width: 1120px;
    height: 1404.72px;
    background-color: #fff; 
    margin-top: 23px;
}
a:link{
    text-decoration: none;
}

p{
    color: #333;
    word-break: keep-all;
    line-height: 1.63;
}

.skipToContent{
    position: absolute;
    top: -60px;
    right: 0;
    left: 0;
    z-index: 1000;
    min-width: 320px;
    height: 60px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    letter-spacing: -1.5px;
    line-height: 60px;
    background-color: rgba(25, 145, 205, .8);
    transition: .1s ease-in-out;
}

#header {
    left: 0;
    z-index: 105;
    width: 100%;
    height: 129px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    position: fixed;
    top: 0px;
}

#header:before, #header > .b {
    content: '';
    position: absolute;
    top: 59px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #ebebeb;
}

#header h1 {
    display: block;
    position: relative;
    top: 18px;
    width: 239px;
    height: 25px;
    margin: auto;
}

.innerwrap{
    padding: 0 10px;
    position: relative;
    width: 1100px;
    height: 130px;
    margin: auto;
}

#header h1 a{
    display: block;
    position: relative;
    top: 0px;
    width: 239px;
    height: 25px;
    margin: auto;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat 0 0;
}

#header .topLeftWrap {
    position: absolute;
    top: 18px;
    left: 9px;
    z-index: 100;
}


#header .topLeftWrap a {
    display: block;
    position: relative;
    width: 160px;
    height: 25px;
    margin: auto;
    background: url("http://www.snuh.org/asset/img/common/outcomesbook_bt.png") no-repeat 0 0;
}

.topMenuWrap {
    position: absolute;
    top: 18px;
    right: 9px;
    z-index: 100;
}

.topMenuWrap ul, .topMenuWrap li {
    float: left;
    padding: 0;
    margin: 0;
}

.utilMenu {
    margin: 2px 20px 0 0;
}

.utilMenu a, .utilMenu label {
    color: #000;
    font-size: 14px;
}

.topMenuWrap li{
    list-style: none;
}

.topMenu li {
    margin-right: 13px;
}

#gnb{
    position: relative;
    width: 1100px;
    margin: auto;
}

#gnb > button[class*=tot]{
    position: absolute;
    top: 70px;
    border: 0;
    background-color: transparent;
}

.totMenuBtn{
    left: 0;
    width: 30px;
    height: 22px;
    margin-top: -11px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat 0 -27px;
}

.gnbList {
    height: 70px;
    margin: 0 100px;
    text-align: center;
    top: 35px;
    position: absolute;
    left: 97px;
}


.gnbList > li {
    display: inline-block;
    margin: 10px 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.gnbList * {
    text-align: left;
}

.gnbList > li > a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    transition: .2s color;
    font-weight: 700;
}
/* hearderë */
.contTopBar{
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: #2763ba;
}

.contUtilMenuWrap{
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 800px;
    height: 30px;
    margin: 264px auto 0;
    padding: 1px 300px 0 0;
}

.contUtilMenuWrap .contUtilMenu{
    margin-top: 0;
}

.contUtilMenu{
    float: right;
}

.contUtilMenu li{
    float: left;
    position: relative;
    margin-right: 26px;
}

.contUtilMenu a{
    color: #888;
    font-size: 14px;
    text-decoration: none;
}

.likeContent::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: -13px;
    width: 2px;
    height: 9px;
    margin-top: -3px;
    background-color: #ccc;
}

.contUtilMenu .lastChild{
    margin-right: 0;
}

.copyURL::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left: -13px;
    width: 2px;
    height: 9px;
    margin-top: -3px;
    background-color: #ccc;
}

.contUtilMenu .zoomOut{
    margin-left: 20px;
}

li.zoomOut, li.zoomIn{
    margin-top: 3px;
    margin-right: 0;
    height: 30px;
}

li.zoomIn{
    left: -1px;
}

.contUtilMenu button{
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: transparent;
    top: -4px;
}

.contUtilMenu button::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left:  50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -39px;
}

.contUtilMenu .zoomOut button::before{
    width: 10px;
    height: 2px;
    margin: -1px 0 0 -5px;
    background-position: -65px -35px;
}

.hideTxt{
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
}

#content.replaceUtilMenu{
    margin-top: -48px;
    margin-left: 401.500px;
    margin-right: 401.500px;
    padding-top: 0;
    height: 800px;
}

#content{
    word-spacing: 0;
    letter-spacing: -.5px;
    min-height: 800px;
    margin: auto;
    padding-right: 300px;
}

.contHeadingWrap{
    overflow: hidden;
    position: relative;
    margin: -12px 0 43px;
}

.contHeadingWrap > :first-child{
    float: left;
    font-size: 40px;
    letter-spacing: -2px;
}
.colorPoint{
    color: #2763ba!important;
    font-weight: 700;
}
h2, h3{
    font-weight: 700;
}

.contTitleWrap{
    overflow: hidden;
    position: relative;
    margin: 45px 0 28px;
}

.contTitleWrap > :first-child{
    float: left;
    font-size: 28px;
    letter-spacing: -2.1px;
}

.contTextWrap > :first-child {
    overflow: hidden;
    float: left;
    width: 80%;
    font-size: 20px;
}

.lightIntroWrap{
    position: relative;
    min-height: 175px;
}

.contTitleWrap:first-child{
    margin-top: 0;
}

.contTitleWrap + .contTextWrap{
    margin-top: 28px;
}

.contTextWrap{
    overflow: hidden;
    margin: 30px 0 10px;
}

.contTextWrap > p:first-child{
    float: none;
    width: 100%;
}

.lightIntroWrap.iconType02:after{
    background: url("http://www.snuh.org/asset/img/common/spr_circle.png") no-repeat -174px 0;
}

.lightIntroWrap:after{
    content: ' ';
    position: absolute;
    top: 5px;
    right: 4px;
    width: 169px;
    height: 173px;
}

.contTitleWrap + .listText[class*=col]{
    margin-top: -30px;
}

.listText[class*=col]{
    overflow: hidden;
}

.listText{
    color: #666;
}

.listText.col3 > li{
    width: 230px;
}

.cstomerContent .col3 li{
    width: 265px;
}

.cstomerContent .col3 .nthChild{
    height: 150px;
}

.listText[class*=col] > li{
    float: left;
}

.listText > li{
    margin-top: 29px;
    word-break: keep-all;
}

.listText .title{
    color: #000;
    font-size: 20px;
}

.listText .title i{
    margin-right: 7px;
    color: #2763ba;
    font-weight: 700;
    font-style: normal;
}

.listText ul, .listText p{
    margin-top: 10px;
    line-height: 1.6;
}
button{
    vertical-align: middle;
}

[class*=btnType]{
    overflow: visible;
    vertical-align: top;
    height: 40px;
    padding: 0 20px;
    color: #000;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    background-color: #fff;
    cursor: pointer;
}

[class*=btn]{
    display: inline-block;
    border: 0;
}

.cstomerContent .col3 [class*=btnType]{
    margin-top: 19px;
}

button[class*=btnType]{
    line-height: normal;
}

.btnType02{
    border: 1px solid #000;
}

a[class*=btnType]{
    height: 38px;
}

a:visited{
    text-decoration: none;
}

.btnType03 {
    border: 1px solid #2263bb;
    color: #fff;
    background-color: #2263bb;
}

[class*=btnType] .btnIconLink:after{
    vertical-align: middle;
    width: 7px;
    height: 11px;
    margin: -4px 0 0 9px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -76px;
}

.btnType03 .btnIconLink:after{
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -57px;
}

[class*=btnType] [class*=btnIcon]:after{
    content: ' ';
    display: inline-block;
}
