@charset "UTF-8";

#header {
    left: 0;
    z-index: 105;
    width: 100%;
    height: 129px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    position: fixed;
    top: 0px;
}

#header:before, #header > .b {
    content: '';
    position: absolute;
    top: 59px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #ebebeb;
}

#header h1 {
    display: block;
    position: relative;
    top: 18px;
    width: 239px;
    height: 25px;
    margin: auto;
}



.topMenuWrap {
    position: absolute;
    top: 18px;
    right: 200px;
    z-index: 100;
}

.topMenuWrap ul, .topMenuWrap li {
    float: left;
    padding: 0;
    margin: 0;
}

.utilMenu {
    margin: 2px 20px 0 0;
}

.utilMenu a, .utilMenu label {
    color: #000;
    font-size: 14px;
}

.topMenuWrap li{
    list-style: none;
}

.topMenu li {
    margin-right: 13px;
}

#gnb{
    position: relative;
    width: 1100px;
    margin: auto;
}



.gnbList > li {
    display: inline-block;
    margin: 10px 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.gnbList * {
    text-align: left;
}


.breadcrumb {
    float: left;
}

.contUtilMenuWrap {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 800px;
    height: 30px;
    margin: 264px auto 0;
}

#content{
    min-height: 800px;
    word-spacing: 0;
    letter-spacing: -.5px;
    width: 1090px;
    margin: auto;
}

#content.replaceUtilMenu {
    margin-top: -48px;
    padding-top: 0;
}

.contHeadingWrap {
    overflow: hidden;
    margin: -12px 0 65px;
    top: 248px;
}

.contHeadingWrap > :first-child {
    float: left;
    font-size: 40px;
    letter-spacing: -2px;
}

[class*=tabType] {
    position: relative;
    margin: 50px 0 40px;
}

[class*=tabType] ul {
    position: relative;
    width: 100%;
}

.tabTypeCol2 li {
    width: 47%;
}

[class*=tabType] li {
    float: left;
    position: absolute;
}

[class*=tabType] .current a {
    border-color: #2263bb;
    color: #fff;
    background-color: #2263bb;
}

[class*=tabType] li:first-child a {
    margin-left: 0;
}

[class*=tabType] a {
    display: block;
    height: 48px;
    margin-left: -1px;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    color: #666;
    text-align: center;
    line-height: 48px;
}

a img, fieldset, img {
    border: none;
}

caption, legend {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(1px,1px,1px,1px);
}

.msgBox {
    position: relative;
    padding: 90px 10px 55px;
    text-align: center;
}

.msgBox em {
    display: block;
    font-size: 26px;
}

.msgBox em + p {
    margin-top: 5px;
}

.msgBox p {
    color: #666;
}

.colorPoint {
    color: #2763ba!important;
}

.pwChange, .signin {
    padding: 40px 0;
    border: 1px solid #ccc;
    border-width: 1px 0;
    text-align: center;
}

.signin div {
    width: 381px;
    margin: 0 auto;
    text-align: left;
}

.signin div .name, .signin div label {
    display: inline-block;
    width: 130px;
    color: #666;
    text-align: left;
}

.signin .inputText {
    width: 225px;
}

input[type=password] {
    height: 38px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    color: #666;
    font-size: 16px;
}

input[type=password] {
    line-height: inherit;
}

.signin div + div {
    margin-top: 10px;
}

[class*=boxType].boxVtical {
    overflow: hidden;
}

[class*=btnWrap] + [class*=boxType], .signin + [class*=boxType] {
    margin-top: 40px;
}

.boxTypeGray {
    background-color: #f9f9f9;
}

[class*=boxType] {
    padding: 25px 30px;
}

[class*=boxType] strong.boxTit {
    color: #2763ba;
    padding-top: 8px;
}

.boxVtical .boxTit {
    float: left;
    margin: 0 25px 0 0;
}

[class*=boxType] .boxTit {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}

.boxVtical .txtWrap {
    float: left;
    margin-top: -4px;
}

.btnWrap02 {
    margin-top: 40px;
}

.btnType03 {
    border: 1px solid #2263bb;
    color: #fff;
    background-color: #2263bb;
    text-decoration: none;
        margin-left: 814px;
    margin-top: 20px;
}

[class*=btnType] {
    overflow: visible;
    vertical-align: top;
    padding: 9px 30px;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    position: absolute;
}

/* 팝업창 css */
#popup {
    display: none; /*숨기기*/
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}

#popmenu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 200px;
    text-align: center;
    background: #fff;
}

#popmenu p {
    margin-top: 80px;
}

.exit {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #007AAE;
    cursor: pointer;
}

#contents {
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 150px;
    color: white;
    background: rgb(83, 7, 234);
    cursor: pointer;
}

/* footer css */
#footer {
    margin-top: 100px;
    background-color: #31354e;
    font-weight: 700;
}

.footerLink {
    position: relative;
    left: -18px;
    height: 59px;
    margin: auto;
}

.innerWrap {
    padding: 0 10px;
    position: relative;
    width: 1100px;
    margin: auto;
}

#footer .colorPoint04 {
    color: #a4e1ff!important;
}

.footerLink a {
    display: block;
    padding: 18px 9px 9px 14px;
    white-space: nowrap;
    text-decoration: none;
    color: #ccc;
}

.footerInfo {
    padding: 64px 0 60px;
    border-top: 1px solid #22263b;
}

.footerInfo address {
    display: block;
}

.footerInfo address p {
    float: left;
}

.footerInfo address p {
    color: #999;
    font-size: 14px;
}

.footerInfo address p + p {
    margin: 0 0 0 15px;
}

.footerInfo address a {
    color: #999;
}

.copyright {
    margin-top: 6px;
    letter-spacing: 0;
}

.copyright {
    color: #999;
    font-size: 14px;
}

.awardList {
    position: absolute;
    top: 4px;
    right: 10px;
}

#footer li {
    float: left;
    list-style: none;
}

.hideTxt{
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
}

.awardList .item05 a {
    width: 144px;
    background-position: -124px -176px;
}

.awardList a {
    display: block;
    width: 133px;
    height: 32px;
}

.awardList li + li {
    margin-left: 30px;
}

.awardList .item04 a {
    width: 129px;
    background-position: -337px -160px;
}

.awardList a {
    display: block;
    height: 32px;
}

body{
    color: #000;
    font-size: 16px;
    word-spacing: -0.5px;
    letter-spacing: -1px; 
    height: 1584px;
    font-family: 'Noto Sans KR', sans-serif;
}

 *{
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
    text-size-adjust: none;
    list-style: none;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    outline: 0!important;
}

#wrap{
    overflow: hidden;
    position: relative;
    min-width: 1120px;
    height: 1584px;
    background-color: #fff; 
    margin-top: 23px;
}

a:link{
    text-decoration: none;
}

p{
    color: #333;
    word-break: keep-all;
    line-height: 1.63;
}

.skipToContent{
    position: absolute;
    top: -60px;
    right: 0;
    left: 0;
    z-index: 1000;
    min-width: 320px;
    height: 60px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    letter-spacing: -1.5px;
    line-height: 60px;
    background-color: rgba(25, 145, 205, .8);
    transition: .1s ease-in-out;
}


#header {
    left: 0;
    z-index: 105;
    width: 100%;
    height: 129px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    position: fixed;
    top: 0px;
}

#header:before, #header > .b {
    content: '';
    position: absolute;
    top: 59px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #ebebeb;
}

#header h1 {
    display: block;
    position: relative;
    top: 18px;
    width: 239px;
    height: 25px;
    margin: auto;
}

#header h1 a{
	display: block;
    position: relative;
    top: -12px;
    right: -10px;
    width: 239px;
    height: 25px;
    margin: auto;
     font-weight: 700;
    color: #2763ba;
}

#header .topLeftWrap {
    position: absolute;
    top: 18px;
    left: 210px;
    z-index: 100;
}


#header .topLeftWrap a {
    display: block;
    position: relative;
    width: 160px;
    height: 25px;
    margin: auto;
}

#gnb > button[class*=tot]{
    position: absolute;
    top: 70px;
    border: 0;
    background-color: transparent;
}

.totMenuBtn{
    left: 0;
    width: 30px;
    height: 22px;
    margin-top: -11px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat 0 -27px;
}

.gnbList {
    height: 70px;
    margin: 0 100px;
    text-align: center;
    top: 35px;
    position: absolute;
    left: 97px;
}

.gnbList > li > a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    transition: .2s color;
    font-weight: 700;
}

.contTopBar{
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: #2763ba;
}

.clearFix:before, .clearFix:after, .clearFix > .b, .clearFix > .a{
    content: ' ';
    display: table;
}

.breadcrumb{
    float: left;
}

.hideEl, .pagination [class*=Btn] span{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(1px,1px,1px,1px);
}

.bcHomeBtn{
    position: relative;
    width: 48px;
    border: 1px solid #5d8acb;
    border-width: 0 1px;
}

.bcHomeBtn, .breadcrumb > div{
    float: left;
    height: 50px;
    line-height: 50px;
}

.bcHomeBtn:before, .bcHomeBtn > .b{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 16px;
    margin: -9px 0 0 -8px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -110px -73px;
}

.breadcrumb > div{
    position: relative;
    min-width: 188px;
    max-width: 250px;
    max-width: 300px;
    border-right: 1px solid #5d8acb;
}

.breadcrumb em{
    display: block;
    padding: 0 51px 0 20px;
    color: #fff;
    font-style: normal;
}

.ellipsisTxt, .breadcrumb em, .bcLinkLayer a, .newsPaperImg em, .ellipsisTit[class*=boardTypeImg] em, .boardTypeTbl td a{
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bcLinkLayerBtn{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.bcLinkLayer{
    display: none;
    position: absolute;
    top: 50px;
    right: -1px;
    left: -1px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.breadcrumb > div:after, .breadcrumb > div > .a{
    content: ' ';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 11px;
    height: 6px;
    margin-top: -3px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -27px;
}

.bcLinkLayer a{
    display: block;
    height: 48px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-top: 0;
    line-height: 48px;
    transition: .3s color;
}

.bcQuickMenu{
    float: right;
    width: 220px;
    margin-right: -18px;
    padding: 0 18px;
    text-align: center;
    background: url("http://www.snuh.org/asset/img/common/bg_bcQuickMenu.png") no-repeat 0 0;
}

.bcQuickMenu li{
    float: left;
    position: relative;
    width: 50%;
}

.bcQuickMenu a{
    display: block;
    height: 50px;
    color: #fff;
    line-height: 50px;
    background-color: transparent;
}

.contUtilMenuWrap{
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 800px;
    height: 30px;
    margin: 264px auto 0;
    padding: 1px 300px 0 0;
}

.contUtilMenuWrap .contUtilMenu{
    margin-top: 0;
}

.contUtilMenu{
    float: right;
}

.contUtilMenu li{
    float: left;
    position: relative;
    margin-right: 26px;
}

.contUtilMenu a{
    color: #888;
    font-size: 14px;
    text-decoration: none;
}

.likeContent::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: -13px;
    width: 2px;
    height: 9px;
    margin-top: -3px;
    background-color: #ccc;
}

.contUtilMenu .lastChild{
    margin-right: 0;
}

.copyURL::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left: -13px;
    width: 2px;
    height: 9px;
    margin-top: -3px;
    background-color: #ccc;
}

.contUtilMenu .zoomOut{
    margin-left: 20px;
}

li.zoomOut, li.zoomIn{
    margin-right: 0;
    height: 30px;
    top: 4px;
}

li.zoomIn{
    left: -1px;
}

.contUtilMenu button{
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: transparent;
    top: -4px;
}

.contUtilMenu button::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left:  50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -39px;
}

.contUtilMenu .zoomOut button::before{
    width: 10px;
    height: 2px;
    margin: -1px 0 0 -5px;
    background-position: -65px -35px;
}

.hideTxt{
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
}

.innerWrap {
    padding: 0 10px;
    position: relative;
    width: 1100px;
    height: 130px;
    margin: auto;
}

.breadcrumb{
    float: left;
}

.hideEl, .pagination [class*=Btn] span{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(1px,1px,1px,1px);
}

.bcHomeBtn{
    position: relative;
    width: 48px;
    border: 1px solid #5d8acb;
    border-width: 0 1px;
}

.bcHomeBtn, .breadcrumb > div{
    float: left;
    height: 50px;
    line-height: 50px;
}

.bcHomeBtn:before, .bcHomeBtn > .b{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 16px;
    margin: -9px 0 0 -8px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -110px -73px;
}

.breadcrumb > div{
    position: relative;
    min-width: 188px;
    max-width: 250px;
    max-width: 300px;
    border-right: 1px solid #5d8acb;
}

.breadcrumb em{
    display: block;
    padding: 0 51px 0 20px;
    color: #fff;
    font-style: normal;
}

.ellipsisTxt, .breadcrumb em, .bcLinkLayer a, .newsPaperImg em, .ellipsisTit[class*=boardTypeImg] em, .boardTypeTbl td a{
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bcLinkLayerBtn{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.bcLinkLayer{
    display: none;
    position: absolute;
    top: 50px;
    right: -1px;
    left: -1px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.breadcrumb > div:after, .breadcrumb > div > .a{
    content: ' ';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 11px;
    height: 6px;
    margin-top: -3px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -27px;
}

.bcLinkLayer a{
    display: block;
    height: 48px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-top: 0;
    line-height: 48px;
    transition: .3s color;
}

.bcQuickMenu{
    float: right;
    width: 220px;
    margin-right: -18px;
    padding: 0 18px;
    text-align: center;
    background: url("http://www.snuh.org/asset/img/common/bg_bcQuickMenu.png") no-repeat 0 0;
}

.bcQuickMenu li{
    float: left;
    position: relative;
    width: 50%;
}

.bcQuickMenu a{
    display: block;
    height: 50px;
    color: #fff;
    line-height: 50px;
    background-color: transparent;
}

.contUtilMenuWrap{
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 800px;
    height: 30px;
    margin: 264px auto 0;
    padding: 1px 300px 0 0;
}

.contUtilMenuWrap .contUtilMenu{
    margin-top: 0;
}

.contUtilMenu{
    float: right;
}

.contUtilMenu li{
    float: left;
    position: relative;
    margin-right: 26px;
}

.contUtilMenu a{
    color: #888;
    font-size: 14px;
    text-decoration: none;
}

.likeContent::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: -13px;
    width: 2px;
    height: 9px;
    margin-top: -3px;
    background-color: #ccc;
}

.contUtilMenu .lastChild{
    margin-right: 0;
}

.copyURL::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left: -13px;
    width: 2px;
    height: 9px;
    margin-top: -3px;
    background-color: #ccc;
}

.contUtilMenu .zoomOut{
    margin-left: 20px;
}

li.zoomOut, li.zoomIn{
    margin-right: 0;
    height: 30px;
    top: 4px;
}

li.zoomIn{
    left: -1px;
}

.contUtilMenu button{
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: transparent;
    top: -4px;
}

.contUtilMenu button::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left:  50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -39px;
}

.contUtilMenu .zoomOut button::before{
    width: 10px;
    height: 2px;
    margin: -1px 0 0 -5px;
    background-position: -65px -35px;
}

.hideTxt{
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
}

.innerWrap {
    padding: 0 10px;
    position: relative;
    width: 1100px;
    height: 51.625px;
    margin: auto;
}

.rsvConfirmWrap .rsvConfirm {
    padding-top: 22px;
}

.rsvConfirmWrap > div {
    margin-top: 20px;
    padding: 30px;
    background-color: #fff;
}

.rsvConfirm h3 {
    margin-bottom: 33px;
    font-size: 28px;
}

.rsvConfirm .confirmWrap {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 32px;
    text-align: center;
}

.rsvConfirm .contTextWrap {
    margin-top: 28px;
}

.contTextWrap {
    overflow: hidden;
    margin: 30px 0 10px;
}

.contTextWrap > :first-child {
    overflow: hidden;
    float: left;
    width: 80%;
    font-size: 20px;
}

.rsvConfirm [class*=boardType] {
    margin-top: 27px;
}

[class*=boardType] table {
    table-layout: fixed;
}

table {
    position: relative;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    position: static;
    color: transparent;
}

.boardTypeForm tr:first-child td, .boardTypeForm tr:first-child th {
    border-top: 0;
}

.boardTypeForm th, .boardTypeForm td {
    vertical-align: middle;
    height: 40px;
    padding: 10px 10px 10px 20px;
    color: #666;
    font-weight: 400;
    text-align: left;
}

.boardTypeForm td {
    padding-left: 0;
    color: #000;
}

.boardTypeForm tr td, .boardTypeForm tr th {
    border-top: 1px solid #ccc;

.boardTypeForm + .btnWrap {
    margin-top: 40px;
}

[class*=btnWrap] {
    display: block;
    position: relative;
    margin-top: 30px;
    text-align: right;
}


[class*=btnWrap] .left {
    position: absolute;
    top: 0;
    left: 0;
}

.rsvConfirm [class*=btnWrap] [class*=btnType] {
    margin-left: 10px;
}

[class*=btnWrap] [class*=btnType] {
    margin: 0 0 0 10px;
}

a[class*=btnType] {
    height: 38px;
}

button[class*=btnType] {
    line-height: normal;
}

.btnType05 {
    border: 1px solid #777;
    color: #fff;
    background-color: #777;
}

[class*=btnType] {
    overflow: visible;
    vertical-align: top;
    height: 40px;
    padding: 0 20px;
    color: #000;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    background-color: #fff;
    cursor: pointer;
}

.contHeadingWrap > :first-child {
    float: left;
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: 700;
}

::selection {
    text-shadow: none;
    background: #ddd;
}