@charset "UTF-8";
* {
    margin:0;
    padding:0; 
}
body {
    background: #fff;
}

div#wrap{
    width: 99vw;
    margin: auto auto; 
}

header {
    float: right;
    width: 89vw;
    height: 50px;
    background: #ffffff;	

}
#doc_name {
    text-align: right;
    padding-right: 32px;
    padding-top: 22px;
}

aside {
    float: left;
    width: 10vw;
    height: 100vh;
    background: #2763ba;
    position: fixed;
}
#aside_blank {
   height: 50px;
}
div.employee_page {
    line-height: 3.5;
    height: 60px;
    text-align: center;
    background-color: #093464;
    color: #fff;
    
}
div.list {
    list-style: none;
    line-height: 3.5;
    height: 60px;
    text-align: center;
    color: #fff;
   
}

section {
    float: right;
    width: 89vw;
    height: 183vh;
    background:#b4ccdd4a;
}

.title {
    display: flex;
    justify-content: space-between;
}

h3 {
   padding-left: 30px;
   padding-top: 16px;
   }
.home {
    padding-right: 30px;
    padding-top: 20px;
}


.body_wrap_table1 {
    width: 94%;
    height: 97px;
    margin: auto;
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    text-align: left;
}
 .table1 {
    width: 98%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    
   }   

table, th, td {
    border: 1px solid #dbd1d1de ;
    border-collapse: collapse;
    height: 45px;
    padding-right: 20px;
    padding-left: 20px;
    
}

.table1_th {
    width: 10%;
}
.table1 #state {
    width: -webkit-fill-available;
    text-align: center;
}

.table1 #pati_name {
    width: -webkit-fill-available;
}
input#date {
    width: -webkit-fill-available;
    text-align: center;
    cursor: pointer;
}

.search {
    background-color: #1ac3a8;
    width: 60px;
    height: 30px;
    color: #fff;
    border: 0;
    cursor: pointer;
}

a.name {
    color: #1ac3a8;
}
.body_wrap_table2 {
    width: 94%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 27px;
    height:155vh;
}
.table2 {
    width: 98%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; 
    text-align: center;
}
a {
    text-decoration: none;
    
}
a:link {
    color : #1ac3a8;
  }
a:visited {
    color : #1ac3a8;
  }