@charset "UTF-8";

#wrap {
    overflow: hidden;
    position: relative;
    min-width: 1120px;
    background-color: #fff;
}

* {
	vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
    text-size-adjust: none;
    list-style: none;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    outline: 0!important;
}

.disableOutline * {
    outline: 0!important;
}

*{
     box-sizing: content-box!important;
}
* {
    font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
    font-weight: 400;
}
.hideTxt{
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
* {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
}
사용자 에이전트 스타일시트
div {
    display: block;
}
body {
    color: #000;
    font-size: 16px;
    word-spacing: -0.5px;
    letter-spacing: -1px;
}
.activeJS {
    visibility: visible;
}
::selection {
    text-shadow: none;
    background: #ddd;
}
#content.findContent{
	padding-top:200px;
    width: 1100px;
    padding-right: 0;
}

#content {
    word-spacing: 0;
    letter-spacing: -.5px;
}
#content {
    min-height: 800px;
    margin-top: 180px;
    padding-top: 80px;
}
#content {
   
    margin: auto;
 
}

.disableOutline * {
    outline: 0!important;
}
main {
    display: block;
}

* {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
   
    font-smoothing: antialiased;

    text-size-adjust: none;
    list-style: none;
   
}


element.style {
}
#content.memJoinContent, #content.findContent, #content.dorContent {
    width: 1100px;
    padding-right: 0;
}
#content {
    word-spacing: 0;
    letter-spacing: -.5px;
}
#content {
    min-height: 800px;
    margin-top: 180px;
    padding-top: 80px;
}
#content, .contRating {
    width: 800px;
    margin: auto;
    padding-right: 300px;
}
.disableOutline * {
    outline: 0!important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
    margin: 0;
}
* {
    font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
    font-weight: 400;
}
* {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
   
    font-smoothing: antialiased;
  
    text-size-adjust: none;
    list-style: none;
  
}

main {
    display: block;
}
body {
    color: #000;
    font-size: 16px;
    word-spacing: -0.5px;
    letter-spacing: -1px;
    font-family: 'Noto Sans KR', sans-serif;
}
.activeJS {
    visibility: visible;
}

::selection {
    text-shadow: none;
    background: #ddd;
}
[class*=tabType] li:first-child a {
    margin-left: 0;
}

[class*=tabType] .current a {
    border-color: #2263bb;
    color: #fff;
    background-color: #2263bb;
}

[class*=tabType] a {
    display: block;
    height: 48px;
   
    border: 1px solid #ccc;
   
  
    text-align: center;
    line-height: 48px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.disableOutline * {
    outline: 0!important;
}


.findContent .confirmWrap p{

    margin-bottom: 9px;
    color: #000;
    font-size: 26px;
    text-align: center;
    letter-spacing: -1.3px;
}

.disableOutline * {
    outline: 0!important;
}
p {
   
    word-break: keep-all;
    line-height: 1.63;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.memType03 a + a {
    margin-left: -1px;
}
.memType03 a {
    float: left;
    width: 263px;
    border-top-color: #2763ba;
}
[class*=memType] a {
    display: inline-block;
    height: 202px;
    margin-bottom: 25px;
    padding-bottom: 60px;
    border: 1px solid #ccc;
    border-top-width: 2px;
    font-size: 24px;
    text-align: center;
    letter-spacing: -1.2px;
}

.clearFix:before {
    content: '';
    display: table;
}

[class*=btnType] {
    overflow: visible;
    height: 40px;
    padding: 0 20px;
    color: #000;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}

input.inputText {
	border: 1px solid #ccc;
    padding-right: 10px;
    padding-left: 10px;
}

.btnType03{
	border: 1px solid #2263bb;
    color: #fff;
    background-color: #2263bb;
    text-decoration: none;
}


.layerContent{
	margin-top: 35px;
}


.tb {
	border-collapse: separate;
	border-spacing: 0 3px;
}

legend{
	color: #2263bb;
}


.findContent .confirmWrap{
	margin-top: 0px;
}

p{
	    color: #333;
    word-break: keep-all;
    line-height: 1.63;
}

.memJoinContent .confirmWrap p, .findContent .confirmWrap p, .dorContent .confirmWrap p{
	margin-bottom: 9px;
    color: #000;
    font-size: 26px;
    width: 685px;
    margin-left: 495px;
    letter-spacing: -1.3px;
}

.memJoinContent .confirmWrap p + p, .findContent .confirmWrap p + p, .dorContent .confirmWrap p + p{
	color: #666;
    font-size: 16px;
    letter-spacing: -1px;
}

[class*=boxType] + p, p + .referenMark, p + p{
	margin-top: 8px;
}

.findContent .compTxt{
	width: 492px;
    margin: 25px 7px 0px 565px;
    padding: 2px;
}

[class*=feFo]{
	display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.feFoRadio{
	display: inline-block;
    width: 24px;
    height: 24px;
    background: url("https://www.snuh.org/asset/img/common/spr_common.png") no-repeat -169px -27px;
}


.feFoRadio.checked{
	background-position: -169px -53px;
}


[class*=feFo] > input{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.colorPoint{
	color: #2763ba!important;
}

table{
	float: left!important;
	position: relative!important;
}

.findConfirmWrap{
	position: relative;
}

.findConfirmWrap::before{
	position: absolute;
    top: 13px;
    content: "";
    left: 548px;
    width: 2px;
    height: 125px;
    background-color: #2263bb;
}

label{
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-left: 117px;
    font-size: 14px;
}

.logInBtn{
	overflow: visible;
    height: 40px;
    padding: 0 20px;
    color: #000;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
        border: 1px solid #ccc;
}


#header {
    left: 0;
    z-index: 105;
    width: 100%;
    height: 129px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    position: fixed;
    top: 0px;
}

#header:before, #header > .b {
    content: '';
    position: absolute;
    top: 59px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #ebebeb;
}

#header h1 {
    display: block;
    position: relative;
    top: 18px;
    width: 239px;
    height: 25px;
    margin: auto;
}

.innerwrap{
    padding: 0 10px;
    position: relative;
    width: 1100px;
    height: 130px;
    margin: auto;
}

#header h1 a{
    display: block!important;
    position: relative!important;
    top: -6px!important;
    right: -10px!important;
    width: 239px!important;
    height: 25px!important;
    margin: auto!important;
    font-weight: 700!important;
    color: #2763ba!important;
    font-size: 32px;
}

#header .topLeftWrap {
    position: absolute;
    top: 18px;
    left: 9px;
    z-index: 100;
}



#header .topLeftWrap a {
    display: block;
    position: relative;
    width: 160px;
    height: 25px;
    margin: auto;
}

.topMenuWrap {
    position: absolute;
    top: 18px;
    right: 9px;
    z-index: 100;
}

.topMenuWrap ul, .topMenuWrap li {
    float: left;
    padding: 0;
    margin: 0;
}

.utilMenu {
    margin: 2px 20px 0 0;
}

.utilMenu a, .utilMenu label {
    color: #000;
    font-size: 14px;
}

.topMenuWrap li{
    list-style: none;
}

.topMenu li {
    margin-right: 13px;
}

#gnb{
    position: relative;
    width: 1100px;
    margin: auto;
}

#gnb > button[class*=tot]{
    position: absolute;
    top: 70px;
    border: 0;
    background-color: transparent;
}

.totMenuBtn{
    left: 0;
    width: 30px;
    height: 22px;
    margin-top: -11px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat 0 -27px;
}

.gnbList {
    height: 70px;
    margin: 0 100px;
    text-align: center;
    top: 35px;
    position: absolute;
    left: 97px;
}


.gnbList > li {
    display: inline-block;
    margin: 10px 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.gnbList * {
    text-align: left;
}

.gnbList > li > a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    transition: .2s color;
    font-weight: 700;
}
/* hearder끝 */

/* TopBar 시작*/
.contTopBar{
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: #2763ba;
}

.clearFix:before, .clearFix:after, .clearFix > .b, .clearFix > .a{
    content: ' ';
    display: table;
}

.breadcrumb{
    float: left;
    padding: 0!important;
    margin: 0!important;
    background-color: #2763ba!important;
}

.hideEl, .pagination [class*=Btn] span{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(1px,1px,1px,1px);
}

.bcHomeBtn{
    position: relative;
    width: 48px;
    border: 1px solid #5d8acb;
    border-width: 0 1px;
}

.bcHomeBtn, .breadcrumb > div{
    float: left;
    height: 50px;
    line-height: 50px;
}

.bcHomeBtn:before, .bcHomeBtn > .b{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 16px;
    margin: -9px 0 0 -8px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -110px -73px;
}

.breadcrumb > div{
    position: relative;
    min-width: 188px;
    max-width: 250px;
    max-width: 300px;
    border-right: 1px solid #5d8acb;
}

.breadcrumb em{
    display: block;
    padding: 0 51px 0 20px;
    color: #fff;
    font-style: normal;
}

.ellipsisTxt, .breadcrumb em, .bcLinkLayer a, .newsPaperImg em, .ellipsisTit[class*=boardTypeImg] em, .boardTypeTbl td a{
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.bcLinkLayerBtn{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.bcLinkLayer{
    display: none;
    position: absolute;
    top: 50px;
    right: -1px;
    left: -1px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.breadcrumb > div:after, .breadcrumb > div > .a{
    content: ' ';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 11px;
    height: 6px;
    margin-top: -3px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -27px;
}

.bcLinkLayer a{
    display: block;
    height: 48px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-top: 0;
    line-height: 48px;
    transition: .3s color;
}

.bcQuickMenu{
    float: right!important;
    width: 220px!important;
    margin-right: -18px!important;
    padding: 0 18px!important;
    text-align: center!important;
    background: url("http://www.snuh.org/asset/img/common/bg_bcQuickMenu.png") no-repeat 0 0!important;
}

.bcQuickMenu li{
    float: left;
    position: relative;
    width: 50%;
}

.bcQuickMenu a{
    display: block;
    height: 50px;
    color: #fff;
    line-height: 50px;
    background-color: transparent;
}

/* TopBar끝 */
ul, address{
	margin-bottom: 0px!important;
}

.clearfix p{
	margin: 0px!important;
}

