@charset "UTF-8";

#wrap {
    overflow: hidden;
    position: relative;
    min-width: 1120px;
    background-color: #fff;
}
.disableOutline * {
    outline: 0!important;
}
* {
    font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
    font-weight: 400;
}
* {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
}
사용자 에이전트 스타일시트
div {
    display: block;
}
body {
    color: #000;
    font-size: 16px;
    word-spacing: -0.5px;
    letter-spacing: -1px;
}
.activeJS {
    visibility: visible;
}
::selection {
    text-shadow: none;
    background: #ddd;
}
#content.findContent{
	padding-top:200px;
    width: 1100px;
    padding-right: 0;
}

#content {
    word-spacing: 0;
    letter-spacing: -.5px;
}
#content {
    min-height: 800px;
    margin-top: 180px;
    padding-top: 80px;
}
#content {
   
    margin: auto;
 
}

.disableOutline * {
    outline: 0!important;
}
main {
    display: block;
}

* {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
   
    font-smoothing: antialiased;

    text-size-adjust: none;
    list-style: none;
   
}


element.style {
}
#content.memJoinContent, #content.findContent, #content.dorContent {
    width: 1100px;
    padding-right: 0;
}
#content {
    word-spacing: 0;
    letter-spacing: -.5px;
}
#content {
    min-height: 800px;
    margin-top: 180px;
    padding-top: 80px;
}
#content, .contRating {
    width: 800px;
    margin: auto;
    padding-right: 300px;
}
.disableOutline * {
    outline: 0!important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
    margin: 0;
}
* {
    font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
    font-weight: 400;
}
* {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
   
    font-smoothing: antialiased;
  
    text-size-adjust: none;
    list-style: none;
  
}

main {
    display: block;
}
body {
    color: #000;
    font-size: 16px;
    word-spacing: -0.5px;
    letter-spacing: -1px;
}
.activeJS {
    visibility: visible;
}

::selection {
    text-shadow: none;
    background: #ddd;
}
[class*=tabType] li:first-child a {
    margin-left: 0;
}

[class*=tabType] .current a {
    border-color: #2263bb;
    color: #fff;
    background-color: #2263bb;
}

[class*=tabType] a {
    display: block;
    height: 48px;
   
    border: 1px solid #ccc;
   
  
    text-align: center;
    line-height: 48px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.disableOutline * {
    outline: 0!important;
}


.findContent .confirmWrap p{

    margin-bottom: 9px;
    color: #000;
    font-size: 26px;
    text-align: center;
    letter-spacing: -1.3px;
}

.disableOutline * {
    outline: 0!important;
}
p {
   
    word-break: keep-all;
    line-height: 1.63;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.memType03 a + a {
    margin-left: -1px;
}
.memType03 a {
    float: left;
    width: 263px;
    border-top-color: #2763ba;
}
[class*=memType] a {
    display: inline-block;
    height: 202px;
    margin-bottom: 25px;
    padding-bottom: 60px;
    border: 1px solid #ccc;
    border-top-width: 2px;
    font-size: 24px;
    text-align: center;
    letter-spacing: -1.2px;
}

.clearFix:before {
    content: '';
    display: table;
}

[class*=btnType] {
    overflow: visible;
    height: 40px;
    padding: 0 20px;
    color: #000;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}

input.inputText {
	border: 1px solid #ccc;
    padding-right: 10px;
    padding-left: 10px;
}

.btnType03{
	border: 1px solid #2263bb;
    color: #fff;
    background-color: #2263bb;
    text-decoration: none;
}


.layerContent{
	margin-top: 35px;
}


.tb {
	border-collapse: separate;
	border-spacing: 0 3px;
}

legend{
	color: #2263bb;
}
