@charset "UTF-8";
/* *{
	font-family: 'Nanum Myeongjo', serif;
} */
.title{
	width:100%;
	
}
li{
	list-style: none;
}
ul.nav-tabs{
	margin: 0;
}
.title {
	width: 80%;
	font-size: 50px;
	margin-top: 4vh;
	color: #2763ba;
	margin-right: 400px;
}
.topmenu a{
	float:right;
	margin-right:30px;
	font-size: 20px;
}
.logo {
	height:50px;
	margin-left: 30px;
}

.title p {
	font-size: 50px;
	width:100%;
}

.wrap h1 {
	text-align: center;
	margin-top: 2vh;
	color: #2763ba;
}

.wrap ul {
	margin-left: 22vw;
}

.wrap li {
	font-size: 24px;
	margin-right: 8vw;
}

.menubar {
	width: 30px;
	height: 30px;
	margin-top: 15px;
}

.picture {
	width: 100px;
	height: 100px;
	border-radius: 70%;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 15px;
}

#dropdown-menu {
	margin-top: 20px;
}