@charset "UTF-8";
* {
    font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
    text-decoration: none;
}

#wrap {
    overflow: hidden;
    position: relative;
    min-width: 1120px;
    background-color: #fff;
}

#header {
    left: 0;
    z-index: 105;
    width: 100%;
    height: 129px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    position: fixed;
    top: 0px;
}

#header:before, #header > .b {
    content: '';
    position: absolute;
    top: 59px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #ebebeb;
}

#header h1 {
    display: block;
    position: relative;
    top: 18px;
    width: 239px;
    height: 25px;
    margin: auto;
}

.innerwrap{
    padding: 0 10px;
    position: relative;
    width: 1100px;
    margin: auto;
}

#header .topLeftWrap {
    position: absolute;
    top: 18px;
    left: 9px;
    z-index: 100;
}

#header .topLeftWrap a {
    display: block;
    position: relative;
    width: 160px;
    height: 25px;
    margin: auto;
}

.topMenuWrap {
    position: absolute;
    top: 18px;
    right: 9px;
    z-index: 100;
}

.topMenuWrap ul, .topMenuWrap li {
    float: left;
    padding: 0;
    margin: 0;
}

.utilMenu {
    margin: 2px 20px 0 0;
}

.utilMenu a, .utilMenu label {
    color: #000;
    font-size: 14px;
}

.topMenuWrap li{
    list-style: none;
}

.topMenu li {
    margin-right: 13px;
}

#gnb{
    position: relative;
    width: 1100px;
    margin: auto;
}

.gnbList {
    height: 70px;
    margin: 0 100px;
    text-align: center;
    top: 58px;
    position: absolute;
    left: 28px;
}


.gnbList > li {
    display: inline-block;
    margin: 10px 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.gnbList * {
    text-align: left;
}

.gnbList > li > a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    transition: .2s color;
}

.contTopBar {
    position: fixed;
    top: 130px;
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: #2763ba;
}

.breadcrumb {
    float: left;
}

.contUtilMenuWrap {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 800px;
    height: 30px;
    margin: 264px auto 0;
}

#content{
    min-height: 800px;
    word-spacing: 0;
    letter-spacing: -.5px;
    width: 1090px;
    margin: auto;
}

#content.replaceUtilMenu {
    margin-top: -48px;
    padding-top: 0;
}

.contHeadingWrap {
    overflow: hidden;
    margin: -12px 0 9px;
    top: 248px;
}

.contHeadingWrap > :first-child {
    float: left;
    font-size: 40px;
    letter-spacing: -2px;
}

.resConfirmList {
    border-top: 1px solid #ccc;
    padding-left: 0;
}

.resConfirmList li {
    overflow: hidden;
    position: relative;
    padding: 30px 0 40px;
    border-bottom: 1px solid #ccc;
}

.resConfirmList img {
    float: left;
    width: 110px;
    height: 136px;
    margin-right: 20px;
}

.resConfirmList li > div {
    float: left;
    width: 670px;
}

.resConfirmList .resConfirm {
    margin-bottom: 10px;
}

.resConfirmList .resConfirm span {
    display: inline-block;
    height: 22px;
    margin-right: 5px;
    padding: 0 10px;
    border: 1px solid #ccc;
    color: #666;
    font-size: 14px;
    font-weight: 700;
}

.resConfirmList strong {
    display: block;
    font-weight: 400;
}

.resConfirmList strong .colorPoint {
    margin-right: 10px;
    font-size: 16px;
}

.resConfirmList strong span {
    margin-right: 10px;
    font-size: 20px;
}

.resConfirmList p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.resConfirmList p em {
    display: inline-block;
    width: 75px;
    color: #666;
}

.resConfirmList p > span {
    margin-left: 10px;
}

.btnType02 {
    border-color: #2263bb;
    color: #fff;
    background-color: #2263bb;
    display: block;
    width: 108px;
    height: 50px;
    margin-left: -1px;
    text-align: center;
    line-height: 2.3;
    text-decoration-line: none;
    position: absolute;
    top: 145px;
    right: 3px;
    font-size: 17px;
    cursor: pointer;
}

.tab_ul_section03 {
    display: table;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 0;
}

.tab_ul_section03 li.on {
    border-right: 2px solid #495164;
    border-left: 2px solid #495164;
    background: #fff;
}

.tab_ul_section03 li.on {
    display: table-cell;
    text-align: center;
    width: 33.4%;
    border-top: 2px solid #495164;
    border-bottom: 0;
}

.tab_ul_section03 li {
    display: table-cell;
    text-align: center;
    width: 33.3%;
    border-top: 1px solid #e5e5e5;
    border-bottom: 2px solid #495164;
    border-right: 1px solid #e5e5e5;
    background: #f9f9fb;
}

.fix:after {
    content: "";
    clear: both;
    display: block;
}

.tit_h5 {
    font-size: 21px;
    color: #1a1a1a;
    background: url(/front/images/member/bg_bar.gif) no-repeat 0 0;
    padding-top: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: KoPub Dotum, 'KoPub Dotum';
}

.bh_btn_blue_yk1 {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

.bh_btn_blue_yk1 a {
    background: #2263bb none repeat scroll 0 0;
    border: 1px solid #2263bb;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    height: 32px;
    letter-spacing: -0.75px;
    line-height: 32px;
    text-align: center;
    position: relative !important;
    top: 10px !important;
    padding: 0 15px;
    text-decoration-line: none;
}

.tab_ul_section03 li.on a {
    display: block;
    background: #fff;
    color: #2d58b6;
    font-size: 17px;
}

.tab_ul_section03 li a {
    padding: 11px 0;
    font-weight: 600;
}


[class*=boxType].boxVtical {
    overflow: hidden;
}

.boxTypeGray {
    background-color: #f9f9f9;
}

[class*=boxType] {
    margin-top: 28px;
    padding: 25px 30px;
}

[class*=boxType] strong.boxTit {
    color: #2763ba;
}

.boxVtical .txtWrap {
    float: left;
    margin-top: -4px;
}

[class*=boxType] p:first-child {
    margin-top: 0;
}

.colorPoint {
    color: #2763ba!important;
}

p {
    color: #333;
    word-break: keep-all;
    line-height: 1.63;
}
