@charset "UTF-8";

* {
    margin:0;
    padding:0; 
}
body {
    background: #fff;
}

table, th, td {
    border: 1px solid #dbd1d1de ;
    border-collapse: collapse;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
}
th {
    width: 20%;
}
td {
    width: 30%;
}

a {
    text-decoration: none;
}

div#wrap{
    width: 99vw;
    margin: auto auto; 
}

header {
    float: right;
    width: 89vw;
    height: 50px;
    background: #ffffff;	

}
#doc_name {
    text-align: right;
    padding-right: 32px;
    padding-top: 22px;
}

aside {
    float: left;
    width: 10vw;
    height: 100vh;
    background: #2763ba;
    position: fixed;
}
#aside_blank {
   height: 50px;
}
.employee_page {
    line-height: 3.5;
    height: 60px;
    text-align: center;
    background-color: #093464;
    color: #fff;
    
}
.list {
    list-style: none;
    line-height: 3.5;
    height: 60px;
    text-align: center;
    color: #fff;
   
}

section {
    float: right;
    width: 89vw;
    height: 95vh;
    background:#b4ccdd4a;
}

.title {
    display: flex;
    justify-content: space-between;
}

h3 {
   padding-left: 30px;
   padding-top: 16px;
   }
.home {
    padding-right: 30px;
    padding-top: 20px;
}

.wrap_table {
    position: relative;
    height: 50vh;
    width: 94%;
    margin: auto;
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    text-align: left;
}

.table1 {
    width: 98%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
}

.table2 {
    width: 98%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; 
}

.blank_td {
  padding-left: 0;
  padding-right: 0;
}

button {
    position: absolute;
    right: 38px;
    bottom: 15px;
    background-color: #1ac3a8;
    width: 60px;
    height: 30px;
    color: #fff;
    border: 0;
    cursor: pointer;
}

a:link {
    color : #fff;
  }
  a:visited {
    color : pink;
  }