@charset "UTF-8";

#content{
	width:60%;
	margin-left: 20%;
	margin-right: 20%;

}

ul.clearFix{
	width:100%;
	height:200px;
	padding: 0;
	margin: 0;
}
ul.clearFix li{
	border:1px solid #ccc;
	color: #ccc;
	font-weight:bold;
	list-style: none;
	width: 33%;
	height:100px;
	float: left;
	font-size: 26px;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 10px;
	
}
.current {
	background-color: #2763ba;
	color: #black;
}
.current b{
	width:200px;
	color: black;
}
.regi_com{
	border:1px solid black;
	height: 300px;
	font-size: 30px;
	padding: 10px;
}