@charset "UTF-8";

#content{
	visibility: visible;
    color: #000;
    font-size: 16px;
    vertical-align: baseline;
    padding: 0;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
    font-weight: 400;
    display: block;
    outline: 0!important;
    margin: auto;
    min-height: 800px;
    margin-top: 180px;
    padding-top: 80px;
    word-spacing: 0;
    letter-spacing: -.5px;
    width: 1100px;
    padding-right: 0;
}

.hideTxt{
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
}

 *{
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
    text-size-adjust: none;
    list-style: none;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    outline: 0!important;
}
.contHeadingWrap {
    overflow: hidden;
    position: relative;
    margin: -12px 0 43px;
    font-size: 27px;
}
#content.memJoinContent {
    width: 1100px;
    padding-right: 0;
    height: 2200px;
}

.contTextWrap > :first-child {
    overflow: hidden;
    font-size: 20px;
}
#content {
    word-spacing: 0;
    letter-spacing: -.5px;
}
#content {
    min-height: 800px;
    margin-top: 180px;
    padding-top: 80px;
}

#content, .contRating {
    width: 800px;
    padding-right: 300px;
}
.disableOutline * {
    outline: 0!important;
}

.stepWrap li {
    float: left;
    width: 30%;
    padding: 20px 0 18px 30px;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 22px;
}


* {
    font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
    font-weight: 400;
}
* {
    vertical-align: baseline;
  
    padding: 0;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
}



.stepWrap li.current {
    border-color: #2763ba;
    color: #fff;
    background: #2763ba;
}

.joinStepDesc {
    padding-left: 410px;
    background: url("https://www.snuh.org/asset/img/member/bg_member_join.png") no-repeat left 44%;
}

.joinStepDesc .contTextWrap > :first-child {
    float: none;
    width: 100%;
}
.contTextWrap > :first-child {
    overflow: hidden;
    font-size: 20px;
}
p {
    color: #333;
    word-break: keep-all;
    line-height: 1.63;
}
.memJoinContent .checkAllBox {
    margin: 40px 0 60px;
    font-size: 20px;
    text-align: center;
}
.boxTypeGray {
    background-color: #f9f9f9;
}
[class*=boxType] {
   
    padding: 25px 30px;
}
.feFoCheck {
    width: 24px;
    height: 24px;
    margin-right: 9px;
    background: url("https://www.snuh.org/asset/img/common/spr_common.png") no-repeat -195px -27px;
}

.feFoCheck.checked{
	background-position: -195px -53px;
}

[class*=feFo] {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
[class*=feFo] > input, [class*=feFo] > select {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.persInforWrap .contTextWrap {
    margin: 0 0 26px;
}
.contTextWrap {
    overflow: hidden;
   
}

 label {
    vertical-align: middle;
}

 .requiredTxt {  
    font-size: 16px;
    letter-spacing: -1px;
}


caption, legend {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    border: none;
}	
[class*=feFo] {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.terms{
	    visibility: visible;
    color: #000;
    font-size: 16px;
    word-spacing: 0;
    letter-spacing: -.5px;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
    font-weight: 400;
    outline: 0!important;
}
   

.contTextWrap > :first-child {
    overflow: hidden;
    float: left;
    width: 80%;
    font-size: 20px;
}
.persInforWrap .scrollBox {
    max-height: 171px;
}
[class*=scrollBox] {
    overflow-y: scroll;
    padding: 26px 30px 0;
    border: 1px solid #ccc;
}

.memJoinContent .persInforWrap {
    margin-top: 32px;
}
.persInforWrap .terms .contTitleWrap {
    margin: 25px 0 20px;
}
.contTitleWrap {
    overflow: hidden;
    position: relative;
   
}
#wrap{
	    visibility: visible;
    color: #000;
    font-size: 16px;
    word-spacing: -.5px;
    letter-spacing: -1px;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
    font-weight: 400;
    outline: 0!important;
    overflow: hidden;
    position: relative;
    min-width: 1120px;
    background-color: #fff;
}
h4{
	
	font-weight: 700;
}
div {
    display: block;
}
p {
    color: #333;
    word-break: keep-all;
    line-height: 1.63;
}

.persInforWrap .checkWrap {
    padding: 29px;
    border: 1px solid #ccc;
    border-top: 0;
}

.memJoinContent .checkAllBox {
    margin: 40px 0 60px;
    font-size: 20px;
    text-align: center;
}
.boxTypeGray {
    background-color: #f9f9f9;
}
[class*=boxType] {
   
    padding: 25px 30px;
}

    
    
 .contTitleWrap{
 visibility: visible;
    color: #000;
    font-size: 16px;
    word-spacing: 0;
    letter-spacing: -.5px;
    vertical-align: baseline;
    padding: 0;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
    font-weight: 400;
    outline: 0!important;
    overflow: hidden;
    position: relative;
    margin: 45px 0 28px;
 }
 
 [class*=tabType] li:first-child a {
    margin-left: 0;
}
[class*=tabType] .current a {
    border-color: #2263bb;
    color: #fff;
    background-color: #2263bb;
}

[class*=tabType] a {
    display: block;
    height: 48px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 48px;
}


[class*=boardType]{
	    margin-top: 30px;
    border: 1px solid #000;
    border-width: 2px 0 1px;
}
.boardTypeForm{
	    margin-top: 20px;
}

[class*=boardType] table{
	    table-layout: fixed;
}
table{
	position: relative;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.boardTypeForm th, .boardTypeForm td{
	    vertical-align: middle;
    height: 40px;
    padding: 10px 10px 10px 20px;
    color: #666;
    font-weight: 400;
    text-align: left;
}

.boardTypeForm tr td, .boardTypeForm tr th{
	border-top: 1px solid #ccc;
}

.boardTypeForm tr:first-child td, .boardTypeForm tr:first-child th{
	    border-top: 0;
}

[class*=btn]{
	display: inline-block;
    border: 0;
}

[class*=btnType]{
	overflow: visible;
    vertical-align: top;
    height: 40px;
    padding: 0 20px;
    color: #000;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    background-color: #fff;
    cursor: pointer;
}

.btnType02{
	    border: 1px solid #000;
}

button[class*=btnType]{
	line-height: normal;
}

.boardTypeForm [class*=btnType]{
	    vertical-align: middle;
    margin-left: 8px;
}

.boardTypeForm td :first-child{
	
	    margin-left: 0;
}

input[type=tel], input[type=text], input[type=email], input[type=number], input[type=password]{
	    height: 38px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    color: #666;
    font-size: 16px;
    line-height: 38px;
}
.boardTypeForm [class*=btnType]:first-child{
	    margin-left: 0;
}

.mdBrowser input[type=tel], .mdBrowser input[type=text], .mdBrowser input[type=email], .mdBrowser input[type=number], .mdBrowser input[type=password]{
	line-height: inherit;
}

.boardTypeForm .inputText{
	width: 178px;
}

.boardTypeForm span.error, .boardTypeForm span.desc{
	vertical-align: middle;
    margin-left: 8px;
}

.boardTypeForm .desc{
	    color: #2763ba;
}

.feFoRadio{
	display: inline-block;
    width: 24px;
    height: 24px;
    background: url("https://www.snuh.org/asset/img/common/spr_common.png") no-repeat -169px -27px;
}

.feFoRadio.checked{
	    background-position: -195px -53px;
}

.boardTypeForm .lblTxt{
	display: inline-block;
    margin: 0 15px 0 2px;
}

.boardTypeForm .inputTextSmall{
	    width: 100px;
}

.boardTypeForm .txtWrap{
	    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    line-height: 38px;
}


.mdBrowser input[type=tel], .mdBrowser input[type=text], .mdBrowser input[type=email], .mdBrowser input[type=number], .mdBrowser input[type=password]{
	line-height: inherit;
}

.boardTypeForm td{
	padding-left: 0;
    color: #000;
}



[class*=btnWrap]{
	    display: block;
    position: relative;
    margin-top: 30px;
    text-align: right;
}

.boardTypeForm + .btnWrap{
	    margin-top: 40px;
}


.btnBig{
	min-width: 120px;
    height: 60px;
    padding: 0 30px;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 58px;
}

button[class*=btnType]{
	line-height: normal;
}


[class*=btnWrap] [class*=btnType]{
	margin: 0 0 0 10px;
}

.btnType03 {
    border: 1px solid #2263bb;
    color: #fff;
    background-color: #2263bb;
    margin-left: 93%;
}

input[type=tel]{
	vertical-align: middle;
	text-align: center;
	width: 70px;
}

input.num4{
	width: 80px;
}

input.keyNum{
	margin-left: 30px;
	width: 100px;
	vertical-align: middle;
	text-align: center;
	
}
/* header시작 */

#header {
    left: 0;
    z-index: 105;
    width: 100%;
    height: 129px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    position: fixed;
    top: 0px;
}

#header:before, #header > .b {
    content: '';
    position: absolute;
    top: 59px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #ebebeb;
}

#header h1 {
    display: block;
    position: relative;
    top: 18px;
    width: 239px;
    height: 25px;
    margin: auto;
}

.innerwrap{
    padding: 0 10px;
    position: relative;
    width: 1100px;
    height: 130px;
    margin: auto;
}

#header h1 a{
    display: block;
    position: relative;
    top: -12px;
    right: -10px;
    width: 239px;
    height: 25px;
    margin: auto;
     font-weight: 700;
    color: #2763ba;
}

#header .topLeftWrap {
    position: absolute;
    top: 18px;
    left: 9px;
    z-index: 100;
}



#header .topLeftWrap a {
    display: block;
    position: relative;
    width: 160px;
    height: 25px;
    margin: auto;
}

.topMenuWrap {
    position: absolute;
    top: 18px;
    right: 9px;
    z-index: 100;
}

.topMenuWrap ul, .topMenuWrap li {
    float: left;
    padding: 0;
    margin: 0;
}

.utilMenu {
    margin: 2px 20px 0 0;
}

.utilMenu a, .utilMenu label {
    color: #000;
    font-size: 14px;
}

.topMenuWrap li{
    list-style: none;
}

.topMenu li {
    margin-right: 13px;
}

#gnb{
    position: relative;
    width: 1100px;
    margin: auto;
}

#gnb > button[class*=tot]{
    position: absolute;
    top: 70px;
    border: 0;
    background-color: transparent;
}

.totMenuBtn{
    left: 0;
    width: 30px;
    height: 22px;
    margin-top: -11px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat 0 -27px;
}

.gnbList {
    height: 70px;
    margin: 0 100px;
    text-align: center;
    top: 35px;
    position: absolute;
    left: 97px;
}


.gnbList > li {
    display: inline-block;
    margin: 10px 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.gnbList * {
    text-align: left;
}

.gnbList > li > a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    transition: .2s color;
    font-weight: 700;
}
/* hearder끝 */

/* TopBar 시작*/
.contTopBar{
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: #2763ba;
}

.clearFix:before, .clearFix:after, .clearFix > .b, .clearFix > .a{
    content: ' ';
    display: table;
}

.breadcrumb{
    float: left;
}

.hideEl, .pagination [class*=Btn] span{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(1px,1px,1px,1px);
}

.bcHomeBtn{
    position: relative;
    width: 48px;
    border: 1px solid #5d8acb;
    border-width: 0 1px;
}

.bcHomeBtn, .breadcrumb > div{
    float: left;
    height: 50px;
    line-height: 50px;
}

.bcHomeBtn:before, .bcHomeBtn > .b{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 16px;
    margin: -9px 0 0 -8px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -110px -73px;
}

.breadcrumb > div{
    position: relative;
    min-width: 188px;
    max-width: 250px;
    max-width: 300px;
    border-right: 1px solid #5d8acb;
}

.breadcrumb em{
    display: block;
    padding: 0 51px 0 20px;
    color: #fff;
    font-style: normal;
}

.ellipsisTxt, .breadcrumb em, .bcLinkLayer a, .newsPaperImg em, .ellipsisTit[class*=boardTypeImg] em, .boardTypeTbl td a{
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bcLinkLayerBtn{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.bcLinkLayer{
    display: none;
    position: absolute;
    top: 50px;
    right: -1px;
    left: -1px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.breadcrumb > div:after, .breadcrumb > div > .a{
    content: ' ';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 11px;
    height: 6px;
    margin-top: -3px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -27px;
}

.bcLinkLayer a{
    display: block;
    height: 48px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-top: 0;
    line-height: 48px;
    transition: .3s color;
}

.bcQuickMenu{
    float: right;
    width: 220px;
    margin-right: -18px;
    padding: 0 18px;
    text-align: center;
    background: url("http://www.snuh.org/asset/img/common/bg_bcQuickMenu.png") no-repeat 0 0;
}

.bcQuickMenu li{
    float: left;
    position: relative;
    width: 50%;
}

.bcQuickMenu a{
    display: block;
    height: 50px;
    color: #fff;
    line-height: 50px;
    background-color: transparent;
}

/* TopBar끝 */

b, h1, h2, h3, h4, h5, h6, strong, th{
    font-weight: 700;
}

fieldset{
	    border: none;
}