@charset "UTF-8";

.stepWrap li {
	float: left;
	width: 330px;
	padding: 20px 0 18px 30px;
	border: 1px solid #ccc;
	color: #ccc;
	font-size: 22px;
}
*{
     box-sizing: content-box!important;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
#content.memJoinContent {
	width: 70%;
	padding-right: 0;
}

h1{
	font-size: 2em!important;
	line-height: normal;
}

#content {
	
	word-spacing: 0;
	letter-spacing: -.5px;
	margin-left: 15%;
	margin-right: 15%;
	width: 40%;
	min-height: 800px;
	margin-top: 180px;
	padding-top: 80px;
	
}
#header {
    left: 0;
    z-index: 105;
    width: 100%;
    height: 129px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    position: fixed;
    top: 0px;
}

#header:before, #header > .b {
    content: '';
    position: absolute;
    top: 59px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #ebebeb;
}

#header h1 {
    display: block;
    position: relative;
    top: 18px;
    width: 239px;
    height: 25px;
    margin: auto;
}

.innerwrap{
    padding: 0 10px;
    position: relative;
    width: 1100px;
    height: 130px;
    margin: auto;
}

#header h1 a{
    display: block;
    position: relative;
    top: -12px;
    right: -10px;
    width: 239px;
    height: 25px;
    margin: auto;
     font-weight: 700;
    color: #2763ba;
}

#header .topLeftWrap {
    position: absolute;
    top: 18px;
    left: 9px;
    z-index: 100;
}



#header .topLeftWrap a {
    display: block;
    position: relative;
    width: 160px;
    height: 25px;
    margin: auto;
}

.topMenuWrap {
    position: absolute;
    top: 18px;
    right: 9px;
    z-index: 100;
}

.topMenuWrap ul, .topMenuWrap li {
    float: left;
    padding: 0;
    margin: 0;
}

.utilMenu {
    margin: 2px 20px 0 0;
}

.utilMenu a, .utilMenu label {
    color: #000;
    font-size: 14px;
}

.topMenuWrap li{
    list-style: none;
}

.topMenu li {
    margin-right: 13px;
}

#gnb{
    position: relative;
    width: 1100px;
    margin: auto;
}

#gnb > button[class*=tot]{
    position: absolute;
    top: 70px;
    border: 0;
    background-color: transparent;
}

.totMenuBtn{
    left: 0;
    width: 30px;
    height: 22px;
    margin-top: -11px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat 0 -27px;
}

.gnbList {
    height: 70px;
    margin: 0 100px;
    text-align: center;
    top: 35px;
    position: absolute;
    left: 97px;
}


.gnbList > li {
    display: inline-block;
    margin: 10px 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.gnbList * {
    text-align: left;
}

.gnbList > li > a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    transition: .2s color;
    font-weight: 700;
}
/* hearder끝 */

/* TopBar 시작*/
.contTopBar{
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: #2763ba;
}

.clearFix:before, .clearFix:after, .clearFix > .b, .clearFix > .a{
    content: ' ';
    display: table;
}

.breadcrumb{
    float: left;
}

.hideEl, .pagination [class*=Btn] span{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(1px,1px,1px,1px);
}

.bcHomeBtn{
    position: relative;
    width: 48px;
    border: 1px solid #5d8acb;
    border-width: 0 1px;
}

.bcHomeBtn, .breadcrumb > div{
    float: left;
    height: 50px;
    line-height: 50px;
}

.bcHomeBtn:before, .bcHomeBtn > .b{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 16px;
    margin: -9px 0 0 -8px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -110px -73px;
}

.breadcrumb > div{
    position: relative;
    min-width: 188px;
    max-width: 250px;
    max-width: 300px;
    border-right: 1px solid #5d8acb;
}

.breadcrumb em{
    display: block;
    padding: 0 51px 0 20px;
    color: #fff;
    font-style: normal;
}

.ellipsisTxt, .breadcrumb em, .bcLinkLayer a, .newsPaperImg em, .ellipsisTit[class*=boardTypeImg] em, .boardTypeTbl td a{
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.bcLinkLayerBtn{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.bcLinkLayer{
    display: none;
    position: absolute;
    top: 50px;
    right: -1px;
    left: -1px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.breadcrumb > div:after, .breadcrumb > div > .a{
    content: ' ';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 11px;
    height: 6px;
    margin-top: -3px;
    background: url("http://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -27px;
}

.bcLinkLayer a{
    display: block;
    height: 48px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-top: 0;
    line-height: 48px;
    transition: .3s color;
}

.bcQuickMenu{
    float: right!important;
    width: 220px!important;
    margin-right: -18px!important;
    padding: 0 18px!important;
    text-align: center!important;
    background: url("http://www.snuh.org/asset/img/common/bg_bcQuickMenu.png") no-repeat 0 0!important;
}

.bcQuickMenu li{
    float: left;
    position: relative;
    width: 50%;
}

.bcQuickMenu a{
    display: block;
    height: 50px;
    color: #fff;
    line-height: 50px;
    background-color: transparent;
}

/* TopBar끝 */

main {
	display: block;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}
.boardTypeForm{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	
}
.boardTypeForm th{
    vertical-align: middle;
    height: 40px;
    padding: 10px 10px 10px 20px;
    color: #666;
    font-weight: 400;
    text-align: left;
}
.disableOutline * {
	outline: 0 !important;
}

* {
	vertical-align: baseline;
    margin: 0;
    padding: 0;
    border-radius: 0;
    text-size-adjust: none;
    list-style: none;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    outline: 0!important;
}
.boardTypeForm th {
    vertical-align: middle;
    height: 40px;
    padding: 10px 10px 10px 20px;
    color: #666;
    font-weight: 400;
    text-align: left;
}
* {
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border-radius: 0;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
}

div {
	display: block;
}
[class*=tableType] .verTop, [class*=boardType] .verTop {
    vertical-align: top;
    padding-top: 13px;
}
body {
	color: #000;
    font-size: 16px;
    word-spacing: -0.5px;
    letter-spacing: -1px;
    font-family: 'Noto Sans KR', sans-serif;
}

.activeJS {
	visibility: visible;
}

::selection {
	text-shadow: none;
	background: #ddd;
}

.contHeadingWrap {
	overflow: hidden;
	position: relative;
	margin: -12px 0 43px;
}

span.required{
	color: red;
}

h2 {
	font-family: 'Noto Sans KR Bold', 'Noto Sans CJK KR', 'Noto Sans KR',
		'맑은 고딕', sans-serif;
	font-weight: 700;
}

.stepWrap li:first-child {
	margin-left: 0;
}

.stepWrap li {
	float: left;
	width: 26%;
	/* padding: 20px 0 18px 30px; */
	border: 1px solid #ccc;
	color: #ccc;
	font-size: 22px;
}


p {
    word-break: keep-all;
    line-height: 1.63;
}
.boardTypeForm th{
    vertical-align: middle;
    height: 40px;
    padding: 10px 10px 10px 20px;
    color: #666;
    font-weight: 400;
    text-align: left;
}
 .boardTypeForm td {
    vertical-align: middle;
    height: 40px;
    padding: 10px 10px 10px 20px;
   font-weight: 400;
    text-align: left;
}
.boardTypeForm td {
    padding-left: 0;
    color: #000;
}
input[type=text]{
	
    height: 38px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    color: #666;
    font-size: 16px;
}

[class*=btnType] {
    overflow: visible;
   
    height: 40px;
    padding: 0 20px;
    color: #000;
    font-size: 16px;
    text-align: center;
   
    background-color: #fff;
    cursor: pointer;
}
[class*=btn] {
    display: inline-block;
  
}
legend {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    border: none;
 
    clip: rect(1px,1px,1px,1px);
}
.memJoinContent .supText {
    color: #666;
    text-align: right;
}
fieldset {
    border: none;
    float:left;
}
.stepWrap li.current {
    border-color: #2763ba;
    color: #fff;
    background: #2763ba;
}


.boardTypeForm .desc {
    color: #2763ba;
}


.boardTypeForm p.error {
    margin-top: 8px;
}

.boardTypeForm .error {
    color: #d9090d;
}

.boardTypeForm span.desc {
    vertical-align: middle;
    margin-left: 8px;
}
.boardTypeForm tr td{
    border-top: 1px solid #ccc;
}
.boardTypeForm .txtWrap {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    line-height: 38px;
}

.feFoSelect{
	position: relative;
    width: 58px;
    height: 38px;
    padding: 0 35px 0 12px;
    border: 1px solid #ccc;
    color: #666;
    font-size: 16px;
    text-align: left;
    line-height: 38px;
    background-color: #fff;
}

.feFoSelect select {
    display: inline-block;
    width: 100%;
    color: #666;
    font-size: 16px;
}
[class*=feFo] > select {
    z-index: 1;
    border: none;
    border-radius: 0;
}

 [class*=feFo] > input, [class*=feFo] > select {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}  
.feFoRadio {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("https://www.snuh.org/asset/img/common/spr_common.png") no-repeat -169px -27px;
}
img {
    vertical-align: middle;
}
.boardTypeForm td :first-child {
    margin-left: 0;
}
.autoJoin .img img {
    display: inline-block;
    margin-top: 40px;
}

[class*=feFo] {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.boardTypeForm .lblTxt {
    display: inline-block;
    margin: 0 15px 0 2px;
}

.boardTypeForm .inputText{
	width: 178px;
}

input[type=tel], input[type=text], input[type=email], input[type=number], input[type=password]{
	height: 38px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    color: #666;
    font-size: 16px;
    line-height: 38px;
}

.mdBrowser input[type=tel], .mdBrowser input[type=text], .mdBrowser input[type=email], .mdBrowser input[type=number], .mdBrowser input[type=password]{
	line-height: inherit;
}

.feFoSelect > span{
	    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.boardTypeForm .feFoSelect{
	width: 151px;
}


.boardTypeForm .inputText + .feFoSelect{
	    margin-left: 8px;
}

.feFoSelect:after{
	content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 7px;
    height: 4px;
    margin-top: -2px;
    background: url("https://www.snuh.org/asset/img/common/spr_common.png") no-repeat -65px -70px;
}

.btnType03{
	    border: 1px solid #2263bb;
    color: #fff;
    background-color: #2263bb;
}

#postFind, .btnType01, #makeAddr{
	border: 1px solid #ccc;
}

.feFoRadio.checked{
	background-position: -169px -53px;
}

 * {
    font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
}

#wrap {
    overflow: hidden;
    position: relative;
    min-width: 1120px;
    background-color: #fff;
}

#header {
    left: 0;
    z-index: 105;
    width: 100%;
    height: 129px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    position: fixed;
    top: 0px;
}

#header:before, #header > .b {
    content: '';
    position: absolute;
    top: 59px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #ebebeb;
}

#header h1 {
    display: block;
    position: relative;
    top: 18px;
    width: 239px;
    height: 25px;
    margin: auto;
}

.innerwrap{
    padding: 0 10px;
    position: relative;
    width: 1100px;
    margin: auto;
}

#header .topLeftWrap {
    position: absolute;
    top: 18px;
    left: 9px;
    z-index: 100;
}

#header .topLeftWrap a {
    display: block;
    position: relative;
    width: 160px;
    height: 25px;
    margin: auto;
}

.topMenuWrap {
    position: absolute;
    top: 18px;
    right: 9px;
    z-index: 100;
}

.topMenuWrap ul, .topMenuWrap li {
    float: left;
    padding: 0;
    margin: 0;
}

.utilMenu {
    margin: 2px 20px 0 0;
}

.utilMenu a, .utilMenu label {
    color: #000;
    font-size: 14px;
}

.topMenuWrap li{
    list-style: none;
}

.topMenu li {
    margin-right: 13px;
}

#gnb{
    position: relative;
    width: 1100px;
    margin: auto;
}



.gnbList > li {
    display: inline-block;
    margin: 10px 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.gnbList * {
    text-align: left;
}

.gnbList > li > a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    transition: .2s color;
}

.contTopBar {
    position: fixed;
    top: 130px;
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: #2763ba;
}

.breadcrumb {
    float: left;
    padding: 0!important;
    margin: 0!important;
    background-color: #2763ba!important;
}

.contUtilMenuWrap {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 800px;
    height: 30px;
    margin: 264px auto 0;
}

#content{
    min-height: 800px;
    word-spacing: 0;
    letter-spacing: -.5px;
    width: 1090px;
    margin: auto;
}

#content.replaceUtilMenu {
    margin-top: -48px;
    padding-top: 0;
}

.contHeadingWrap {
	height: 220px;
    overflow: hidden;
    margin: -12px 0 9px;
    top: 155px;
}

.contHeadingWrap > :first-child {
    float: left;
    font-size: 40px;
    letter-spacing: -2px;
}

[class*=tabType] {
    position: relative;
    margin: 50px 0 40px;
}

[class*=tabType] ul {
    position: relative;
    width: 100%;
}

.tabTypeCol2 li {
    width: 47%;
}

[class*=tabType] li {
    float: left;
    position: absolute;
}

[class*=tabType] .current a {
    border-color: #2263bb;
    color: #fff;
    background-color: #2263bb;
}

[class*=tabType] li:first-child a {
    margin-left: 0;
}

[class*=tabType] a {
    display: block;
    height: 48px;
    margin-left: -1px;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    color: #666;
    text-align: center;
    line-height: 48px;
}

.topMenu a {
    cursor:pointer; 
    text-decoration:none; 
    color: inherit;
}

.gnbList a {
    cursor:pointer; 
    text-decoration:none; 
    color: inherit;
}
