<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>
	<typeAliases>
		<typeAlias type="com.member.domain.vo.MemberInfoVO" alias="memberInfoVO"/>
		<typeAlias type="com.patient.domain.vo.PatientListVO" alias="patientListVO"/>
		<typeAlias type="com.reservation.domain.vo.ReservationVO" alias="reservationVO"/>
		<typeAlias type="com.write.domain.vo.ThankyouWriteVO" alias="thankyouWriteVO"/>
		<typeAlias type="com.write.domain.vo.SuggestionsWriteVO" alias="suggestionsWriteVO"/>
	</typeAliases>

	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/Nfhospital"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/mybatis/mapper/MemberMapper.xml" ></mapper>
		<mapper resource="com/mybatis/mapper/PatientListMapper.xml" ></mapper>
		<mapper resource="com/mybatis/mapper/ReservationMapper.xml" ></mapper>
		<mapper resource="com/mybatis/mapper/ThankyouWriteMapper.xml" ></mapper>
		<mapper resource="com/mybatis/mapper/SuggestionsMapper.xml" ></mapper>
	</mappers>

</configuration>





