<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PatientList">
   <!-- 환자 추가 -->
   <insert id="add" parameterType="patientListVO">
      insert into patient_list
      (patientNum, name, phoneNum, addPhoneNum, gender, age, hospitalRoom, hospitalDate, medication, disease, symptom, temperature, bloodPressure)
      values(#{patientNum}, #{name}, #{phoneNum}, #{addPhoneNum}, #{gender}, #{age}, #{hospitalRoom}, #{hospitalDate}, #{medication}, #{disease}, #{symptom}, #{temperature}, #{bloodPressure})
   </insert>
   
   <!-- 환자 조회 -->
   <select id="view" parameterType="patientListVO">
      select patientNum, name, phoneNum, addPhoneNum, gender, age, hospitalRoom, hospitalDate, medication, disease, symptom, temperature, bloodPressure
      from patient_list where patientNum = #{patientNum}
   </select>
   
</mapper>