<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Write">
   <!-- 글 작성 -->
   <insert id="write" parameterType="writeVO">
      insert into tbl_member
      (member_id, member_name, member_pw, member_gender, member_address, member_address_detail)
      values(#{memberId}, #{memberName}, #{memberPw}, #{memberGender}, #{memberAddress}, #{memberAddressDetail})
   </insert>
   
</mapper>